/* src/pages/annonces/Annonces.css */

  ion-thumbnail img {
    max-width: 100%;
    height: auto;
  }
/* src/css/annonce.css */

  .annonce-content {
    display: flex;
    justify-content: space-between;
    background-color: rgb(43 42 42 / 91%);
  }
  
  .annonce-details {
    flex: 1;
    padding-left: 10px; /* Ajoutez un espace entre la photo et les détails */
    margin-left: 220px;
    color: white;
  }
  .annonce-details p{
    color: white;
  }
  .custom-page-background ion-content {
    --ion-background-color: #bcd9f5;
  }
    